<h3>Transportation</h3>


<form (submit)="onSubmit()">

    <div class="row">
        <div class="col-3">Product </div>
        <div class="col-9"><select type="text" class="form-control" id="id" required [(ngModel)]="prodHash" name="prodHash">
                <option *ngFor = 'let item of prodBlocks' [value]="item.blockhash">{{item.farmerId}} - {{item.prodCd}} - {{item.timestamp | date: 'medium'}}</option> 
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-3">Tranport Agency ID </div>
        <div class="col-9"><input type="text" class="form-control" id="id" required [(ngModel)]="id" name="id">
        </div>
    </div>
    <div  class="row">
        <div class="col-3"> Name </div>
        <div class="col-9"><input type="text" class="form-control" id="name" required [(ngModel)]="name"
                name="name"></div>
    </div>
    <div  class="row">
        <div class="col-3"> Pick up Location </div>
        <div class="col-9"><input type="text" class="form-control" id="location" required [(ngModel)]="location"
                name="location"></div>
    </div>
    <div  class="row">
        <div class="col-3"> Vehicle Id </div>
        <div class="col-9"><input type="text" class="form-control" id="vehicleId" required [(ngModel)]="vehicleId"
                name="vehicleId"></div>
    </div>
    <div  class="row">
        <div class="col-3"> Drive Id </div>
        <div class="col-9"><input type="text" class="form-control" id="driverId" required [(ngModel)]="driverId"
                name="driverId"></div>
    </div>
    <div  class="row">
        <div class="col-3">Drop Off Location </div>
        <div class="col-9"><input type="text" class="form-control" id="destination" required [(ngModel)]="destination"
                name="destination"></div>
    </div>
    <div  class="row">
        <div class="col-3">  Record Type </div>
        <div class="col-9"><select type="text" class="form-control" id="entryType" required [(ngModel)]="entryType"
                name="entryType">
                <option>PICK UP</option>
                <option>DROP OFF</option>
            </select></div>
    </div>
   
    <div class="button-container">
        <button type="reset"> Clear </button>
        <button type="submit" class="primary"> Submit</button>
    </div>
</form>
