a {
    padding-right: 50px;
    color: #fff;
}

.icon {
    margin: 20px 0;
    width: 140px;
    path {
        fill: #fff;
    }

}

h2 {
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 2.375rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

span {
    padding: 0 10px;
}

span.data {
    display: block;
    padding: 10px 10px 10px 50px;
}

.even {
    background-color: gray;
}
