a {
    padding-right: 50px;
    color: #fff;
}

.icon {
    margin: 20px 0;
    width: 140px;
    path {
        fill: #fff;
    }

}

h2 {
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 2.375rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

span {
    padding: 0 10px;
}

span.data {
    display: block;
    padding: 10px 10px 10px 50px;
}

.even {
    span {
        display: block;
    }
    padding: 20px;
    background-color: rgb(34, 34, 34);;
    .hash {
        color: #b79967;
        font-weight: 700;
    }
    .prev-hash {
        color: rgb(170, 197, 225);
        font-weight: 700;
    }
}

.odd {
    span {
        display: block;
    }
    padding: 20px;
    background-color: rgb(55, 33, 33);
    .hash {
        color: rgb(170, 197, 225);
        font-weight: 700;
    }
    .prev-hash {
        color: #b79967;
        font-weight: 700;
    }
}
