/* You can add global styles to this file, and also import other style files */
body {
    padding-left: 20px;
    height: 100%;
    background-color: #010101;
    color: #fff;
    font-family: "Lato";
}


.col-3 {
    width: 25%;
    flex-flow: column;
}

.col-6 {
    width: 50%;
    flex-flow: column;
}

.col-9 {
    width: 75%;
    flex-flow: column;
}

.row {
    display: flex;
}

button {
    margin: 5px 20px;
    line-height: 22px;
    color: #fff;
    min-width: 10rem;
    font-size: 2 rem;
    font-weight: 700;
    background-color: gray;
}

button.primary {
    background-color: #cc1f20;
}

.button-container {
    margin: 20px 15%;
}
